body
	 {
			margin:0; 
			padding:0;
	}
	
p
	 {	
			color:#FFF;
			font-size:25px
			margin:0 0 10px 0;
			padding:0;
			font-style:oblique;
			float:inherit;
	}

form 
	{
			font:13px Georgia, "Times New Roman", Times, serif;
			background:#300;
			margin-left: 450px;
			margin-top: 50px;
			padding:10px 20px;
			width:330px;
			
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		
			-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
			-moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
			box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);	
	}
	
form ol 
		{
				list-style:none;
				margin:0;
				padding:0;
		}
		
form li
		 {
				padding:0px;
				background:;
				margin-bottom:5px;
		}
			
form li#send 
	{
				background:none;
				margin-top:6px;
	}
		
form label 
		{
				font-style:italic;
				font-size:px;
				float:left;
				width:70px;
				text-align:left;	
				margin-right:7px;
				color:#0066CC;
							 /* This will make the labels vertically centered with the inputs */
		}
			
form input,
form textarea 
		{
				padding:0px;
				font:15px Georgia, "Times New Roman", Times, serif;
				border:3px solid #999999;
				width:200px;
		}
						}
form input:focus,
form textarea:focus 
		{
				border:1px solid #666;
				background:#e3f1f1;
		}			
form li#send button 
		{
					background:#003366 url(images/css-form-send.gif) no-repeat 8px 50%;
					border:none;
					padding:4px 8px 4px 28px;
					border-radius:15%; /* Don't expect this to work on IE6 or 7 */
					-moz-border-radius:15%;
					-webkit-border-radius:15%;			
					color:#fff;
					margin-left:77px; /* Total width of the labels + their right margin */
					cursor:pointer;
					margin-bottom:50;
		}
			
form li#send button:hover
		 { 
					background-color:#006633;
		}